body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 40px;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 0;
    font-weight: 400;
}

p {
    margin: 0;
    font-weight: 400;
}

span {
    margin: 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(95, 95, 95);
    transition: 200ms;
}

section {
    background-color: white;
    border-bottom: #967bb6 solid 1px;
}

footer {
    height: 250px;
    background-color: rgb(54, 54, 54);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
}

input {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.word-content {
    margin-left: 10px;
}

.header-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    margin-left: 80px;
    margin-bottom: 200px;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.nav-ls {
    display: flex;
    width: 350px;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
}


.logo {
    margin: -20px -40px;
    height: 200px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 60px;

}

.project-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: none;
    padding: 80px;

}


.headshot-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.selfie {
    display: flex;
    align-items: center;
    margin-top: 35px;
}


#about-me {
    margin-right: 20px;
    font-size: 20px;
}

.project-card {
    width: 250px;
    height: 500px;
    box-shadow: 5px 5px 20px 5px rgb(158, 157, 157);
}

.project-area {
    display: flex;
    justify-content: space-around;
}

.hamburger {
    display: none;
}

.hamburger:hover {
    color: white;
    transition: 200ms;
}

.form-input-1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form-input-2 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.form-submit {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    padding-top: 5px;
}

.submit-btn {
    width: 60px;
    height: 30px;
    align-self: flex-end;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

.words {
    margin: 10px;
    font-weight: 300;
}

@media only screen and (max-width: 1000px) {
    .project-area {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .hamburger {
        display: block;
        border: 0px;
        background-color: transparent;
        color: #967bb6;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .nav-ls {
        display: none;
        background-color: #bd9ce6;
        margin: 0px;
    }

    #navList.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #bd9ce6;
    }

    li {
        margin-bottom: 15px;
    }

    .logo {
        display: none;
    }
}